# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
repeater.pyc
pyinstall.bat
twitter-repeater-master.zip
*.zip
ProtestMining/twittermining.py
*.pyc
build/bdist.win-amd64/winexe/temp/bz2.py
*.pyd
setup.py
DRMSQL.txt
build/bdist.win-amd64/winexe/temp/_hashlib.py
build/bdist.win-amd64/winexe/temp/select.py
build/bdist.win-amd64/winexe/temp/win32evtlog.py
*.dll
build/bdist.win-amd64/winexe/temp/_ssl.py
build/bdist.win-amd64/winexe/temp/_socket.py
build/bdist.win-amd64/winexe/temp/_ctypes.py
build/bdist.win-amd64/winexe/temp/unicodedata.py
build/bdist.win-amd64/winexe/temp/win32api.py
dist/botinit.exe
apiattempt.py
OAUTH.txt
following.txt
followers.txt
already-followed.txt
Snakey.spec
OAUTH.txt
twittermining.py
